.navbar{
  
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
   
}
.navbar ul{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
}
.logo{
    width: 30%;
}

ul{
    background-color:white;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
    
}

ul li{
  display: inline-block;
  margin: 1%;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    color:grey;
}

ul li:first-child{
    margin-left: 7%;
    font-size: 25px;
    font-weight: 900;
    color:#3c4482;
    
}
 .right  li:nth-child(1){
    /* margin-left: 40%; */
    font-weight: 500;
    top: 0px;
 
}
.right{
    width: 100%;
    display: flex;
   justify-content: flex-end;
}





/* responsive work  */

@media  (max-width:1200px) {
    


    ul li:nth-child(1){
 
    font-weight: 500;    }
  }




  @media   (max-width:980px){

    .navbar ul{
        display: grid;
        width: 100%;
        grid-template-rows: 1fr 1fr;
      
        /* margin-left: 5%; */
    }

    .navbar .logo {
        display: flex;
        width:100%;
        justify-content: center;
    }
    ul{
        /* padding-bottom: 30px; */
        transition: 0.5s;
        /* left: -150px; */
        /* background-color: red; */
        /* color: white; */
        /* opacity: 0; */
    }


    button{
        margin-right: 50%;
        background-color: transparent;
        border: none;
    }
   
 

    .right{
        
        /* position:absolute; */
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
    }

 
 /* .active{
    padding-bottom: 150px;
    transition: 0.5s;
 } */

 .fa-solid{
   

    display: flex;
    justify-items: right;
}



#check:checked ~ ul{
  left: 0%;
  
   }

   .checkbtn{
    display: none;
  }
  }